/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #141e30, #243b55);
}

.wrapper {
  width: 440px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.wrapper img {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    max-width: 100px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
  
}

.wrapper h1 {
  font-size: 38px;
  font-weight: 600;
  margin: 30px 0;
  color: #fff;
  text-align: center; /* Center the text */
}

.wrapper .content {
  display: flex;
  justify-content: space-between;
  gap:0.5rem;
}

.content.disable {
  cursor: no-drop;
}

.content .column {
  flex: 1; /* Make each column take up equal space */
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.3s ease;
}

.content.disable .column {
  opacity: 0.6;
  pointer-events: none;
}

.column select {
  width: 100%;
  height: 53px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  font-size: 18px;
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.column select:hover {
  background: rgba(255, 255, 255, 0.3);
}

.wrapper button {
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 15px 0;
  margin-top: 20px;
  border-radius: 5px;
  background: linear-gradient(135deg, #4a98f7, #3069b4);
  transition: transform 0.3s ease;
}

.wrapper button:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
