
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.header{
    color: rgb(14, 10, 2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
    margin-bottom: 10px;
    padding: 10px;
    background-color: aqua;
}

.scorebox{
    display: flex;
    gap:40px;
    font-size: 1.1rem;
    font-family: cursive;
}

.details{
    color: wheat;
}

#gamebox {
    position: relative;
    background-color:wheat;
    width: 400px;
    height: 400px;
    border:5px solid white  
}

.gamecontainer{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#start,#pause,#startoverlay{
    /* font-size: 2.5rem;  */
    padding: 10px;
    width: 90px;
    transition: 0.5s;
}

#start:hover, #pause:hover, #startoverlay:hover,#playagain:hover{
    background-color: rgb(215, 215, 88);
    cursor: pointer;
    transform: scale(1.1);
}

#fly {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: wheat;
    cursor: pointer;
}

.overlay,.gameoverlay {
    font-size: 2rem;
    color:wheat;
    position: fixed;
    display: flex;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 7, 9, 0.8); /* Semi-transparent black background */ 
    z-index: 1000000000000; /* Ensure the overlay is on top of other elements */
}

.overlay{
    display: block;
}

.gameoverlay{
    display: none;
}

#startoverlay{
    margin-top: 40px; 
}

#playagain{
    margin-top: 40px;
    font-size: 2.1rem;
    transition: 0.5s;
}
 