body {
    background:#000000;
}
h1{
    color:hotpink;
    font-size:70px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:500px;
    
}
.head{
    margin-top:40px;
}

.entry {
    width: 265px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 2px;
    font-size: 16px;
    font-weight: bold;
}
.calc-container{
    background-color:pink;
    width: 300px;
    border-radius: 30px;
    padding: 30px;
    margin:30px 200px;
}

#numbut{
    height: 59px;
    width: 59px;
    margin: 10px 4px;
    border-radius:10px;
    border-color: antiquewhite;
    color:crimson;
    font-weight:bolder;
    font-size: 15px;
}

#mathbut{
    height: 59px;
    width: 59px;
    margin: 10px 4px;
    border: none !important;
}
#equalbut{
    background-color:azure;
    color:black;
    height: 59px;
    width: 59px;
    margin: 10px 4px;
    border-radius: 10px;
    color:crimson;
    font-size: 15px;
}
#mathbut{
    color:crimson;
    font-size: 15px;
}
 
img{
    height:500px;
    width:350px;
    float:right;
    margin-right: 300px;
}
 
 