/*-------------Reset------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*--Common--*/
body {
    background-image: url(images/back.jpg);
    position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

button{
    cursor: pointer;
    border: none;
    padding: 5px 8px;
    font-size: 0.8rem;
    transition: all 0.3s ease-in;
}

button:hover {
    background-color: #fff !important;
    color: #000 !important;
}

input, textarea, table {
    font-size: 1rem;
}

::placeholder{
    font-size: 0.9rem;
}

/*----Header-----*/
header {
    background-color:#0984e3;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo{
    background-color: #fff;
    color: #0984e3;
    padding: 5px;
}

header .search input{
    width: 250px;
    height: 30px;
    padding: 16px 10px;
}

/*-------Container------*/

.container{
    background-color: transparent;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border: 5px #0984e3 solid;
}

/* Input Form */
.container .inp-frm{
    background-color: #fff;
    width: 40%;
    padding: 10px;
    margin-right: 10px;
}

.container .inp-frm form{
    margin: auto;
    background-color: #0984e3;
    padding: 15px;
}

.container .inp-frm form h3{
    margin-bottom: 5px;
    color: #fff;
}

.container .inp-frm input {
    width: 100%;
    padding: 15px 10px;
    height: 20px;
    margin-bottom: 10px;
}

.container .inp-frm textarea {
    width: 100%;
    padding: 7px 10px;
    resize: none;

}

.container .inp-frm button{
    width: 100%;
    margin-top: 10px;
}

.container .inp-frm #save {
    background-color: #06612F;
    color: #fff;
}

.container .inp-frm #reset {
    background-color: #810404;;
    color: #fff;
}

/*Table*/

.container .table{
    background-color: #fff;
    width: 50%;
    max-height: 260px;
    padding: 10PX;
    margin-left: 10PX;
    overflow: auto;
}

.container .table table{
    width: 100%;
    background-color: #0984e3;
    border-collapse: collapse;
}
/*Hide note body in title colomn*/
.container .table .note-body{
    display: none;
}

.container .table table,
.container .table table td {
    border: 2px #fff solid;
    padding: 5px;
}

.container .table table th {
    padding: 5px;
    text-align: left;
    background-color: #636e72;
}

.container .table table .btcellv,
.container .table table .btcelld,
.container .table table th:last-child,
.container .table table th:nth-last-child(2){
    text-align: center;
} 

.container .table td{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .table .btcellv button{
    background-color: #06612F;
    color: #fff;
}

.container .table .btcelld button{
    background-color: #810404;
    color: #fff;
}

/*-------------Respensive---------*/

@media(max-width: 600px){
    /*Header*/
    header{
        flex-direction: column;
    }
    .logo {
        margin-bottom: 10px;
    }

    /*Conataine*/
    .container{
        flex-direction: column;
        align-items: center;
    }
    .container .inp-frm,
    .container .table{
        margin-bottom: 10px;
        min-width: 250px;
        margin-left: 0;
        margin-right: 0;
    }
}