@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    background-color: #152733;
    overflow: hidden;
}

.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 95%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 23px;
}


.btn-primary {
    background-color: #6C757D;
    outline: none;
    border: 0px;
    margin-top: 14px;
    padding: 6px 12px;
    box-shadow: none;
    text-shadow: 1px 1px black;
    color: white;
    font-weight: bold;
    width: 104px;
    height: 44px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}
.form-check {
    padding: 3px 3px;
    display: block;
    width: 100%;
    position: relative;
    /* float: none; */
    margin-top: 11px;
}
.form-button.mt-3 {
    padding: 9px;
    margin-top: 25px;
}
label#Name-error {
    font-size: 14px;
    padding: 4px;
    color: red;
}
label#email-error {
    font-size: 14px;
    padding: 4px;
    color: red;
}
label#position-error {
    font-size: 14px;
    padding: 4px;
    color: red;
}
label#password-error {
    font-size: 14px;
    padding: 4px;
    color: red;
}
label#confirm_password-error {
    font-size: 14px;
    padding: 4px;
    color: red;
}
label#confirm-error {
    position: absolute;
    bottom: -25px;
    /* margin-top: 3px; */
    left: 8px;
    font-size: 15px;
    color: red;
    /* padding: 1px; */
}
label#gender-error {
    position: absolute;
    bottom: -13px;
    color: red;
    font-size: 15px;
    left: 6px;
}
.col-md-12.mt-3 {
    padding: 5px;
    margin-top: 10px;
    position: relative;
}