@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url('./snow.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
    text-align: center;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.5rem;
}