.Die-roll-application {
  text-align: center;
}

.App-header {
  background-color: #141d31;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Die-message {
  margin-top: 100px;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.Roll-button {
  width: 100px;
  font-size: 20px;
  border-radius: 40px;
  border: 2px solid black;
  color: white;
  margin: 0.5em 1em;
  padding: 0.25em 1em;
  background-color: #c83f49;
}

.Toss-button:hover {
  background: #141d31;
  border: 2px solid #c83f49;
}
