body {
  background-image: url("https://i.pinimg.com/originals/3b/68/08/3b6808f73d2c20b85d016aa38bb986de.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set a height to make sure the container covers the whole viewport */
}

.keys {
  display: flex;
  width: 100%;
  align-items: center;
}
.key {
  border: 0.4rem solid grey;
  border-radius: 2rem;
  margin: 20px;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  transition: all 0.2s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(255, 255, 255, 0.4);
  text-shadow: 0 0 0.5rem black;
}
.playing {
  transform: scale(1.15);
  color: #00f7ff;
  border-color: #00f7ff;
  box-shadow: 0 0 1rem #00f7ff;
}
kbd {
  display: block;
  font-size: 4rem;
}
.sound {
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0rem;
  color: ;
}
